body {
}

.panels {
    display: inline-block;
    float: left;
    margin-left: 0px;
}

#panel3 {
    margin-left: 10px;
    width: 881px;
    height: 499px;
}

#inventoryDetails {
    margin-left: 10px;
}

#nav {
    background-color: #f2f2f2;
}

vendorsdropdown{
    display:inline;
    float:left;
}
